.top-setter {
  position: absolute;
  top: 0;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none !important;
    img {
      height: 35px;
      width: auto;
    }
    h1 {
      margin: 0;
      font-size: 1.75rem;
      span {
        color: var(--text-color-light);
      }
    }
  }
  .navigation {
    display: flex;
    align-items: center;
    .nav-list {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-right: var(--margin-40);
        a {
          font-size: 1.075rem;
          color: var(--text-color-main);
          text-decoration: none;
          color: var(--text-color-dark);
          &:hover {
            border-bottom: 2px solid var(--theme-color);
          }
        }
      }
    }
    button {
      background-color: unset;
      border: none;
      padding: 0;
      cursor: pointer;
      svg {
        width: 29px;
        height: 29px;
      }
    }
    @media (max-width: 1000px) {
      display: none;
    }
  }

  .mobile-nav {
    width: 29px;
    height: 29px;
    position: relative;
    display: none;
    svg {
      color: var(--text-color-dark);
      width: 29px;
      height: 29px;
      cursor: pointer;
    }
    .nav-menu {
      position: absolute;
      z-index: 2;
      right: -2rem;
      margin-top: 1.75rem;
      padding: 1.5rem 1rem;
      margin-bottom: 0;
      min-width: 150px;
      .nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          a {
            font-size: 1.075rem;
            color: var(--text-color-main);
            text-decoration: none;
            &:hover {
              border-bottom: 2px solid var(--theme-color);
            }
          }
        }
      }
    }
    @media (max-width: 1000px) {
      display: block;
    }
  }
}
