.overview-header-first {
  display: flex;
  margin-bottom: 4rem;
  .left-section {
    width: 45%;
    margin-right: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
  .right-section {
    width: 55%;
    padding: 16px;
  }
}
