:root {
  /*--------main colors for objects---------*/
  --card-background: #ffffff; /*background from containers*/
  --background-color: #f9f9ff; /*body background*/
  --gray-1: #eff1f4; /*background from tags on posts*/
  --gray-2: #e8eaee;
  --gray-3: #cfd0d4; /*small icons below post (timer, date)*/

  /*---------textcolor---------*/
  --text-color-dark: #090c1e; /*Headlines H1 - H6*/
  --text-color-main: #2d3350; /*Maintext and Tags*/
  --text-color-light: #808495; /*Infotext (time to read and date)*/
  --button-text-color: #ffffff;

  /*-----shadows-------*/
  --shadow: 0 15px 40px 5px rgba(132, 132, 133, 0.15);

  /*------radius, margin and border-------*/
  --radius-16: 16px;
  --radius-20: 20px;
  --margin-40: 40px;
  --padding-32: 32px;
  --padding-20: 20px;
  --border-color: #dadce5; /*input fields*/

  /*-----theme color-------*/
  --theme-color: rgb(101, 180, 64);

  /*-----Hover----- */
  --tag-hover: #e8e8e8;
  --button-hover: rgb(116, 184, 84);

  /*----Font size-----*/
  --font-small: 0.8rem;
  --font-big: 2.4rem;
}

body[data-theme="light"] {
  /*--------main colors for objects---------*/
  --card-background: #ffffff; /*background from containers*/
  --background-color: #f9f9ff; /*body background*/
  --gray-1: #eff1f4; /*background from tags on posts*/
  --gray-2: #e8eaee;
  --gray-3: #cfd0d4; /*small icons below post (timer, date)*/

  /*---------textcolor---------*/
  --text-color-dark: #090c1e; /*Headlines H1 - H6*/
  --text-color-main: #2d3350; /*Maintext and Tags*/
  --text-color-light: #808495; /*Infotext (time to read and date)*/

  /*-----shadows-------*/
  --shadow: 0 15px 40px 5px rgba(132, 132, 133, 0.15);

  /*------radius and border-------*/
  --border-color: #dadce5; /*input fields*/

  /*-----Hover----- */
  --tag-hover: #e8e8e8;
}

body[data-theme="dark"] {
  /*--------main colors for objects---------*/
  --card-background: #161819; /*background from containers*/
  --background-color: #262a2e; /*body background*/
  --gray-1: #313438; /*background from tags on posts*/
  --gray-2: #383c41;
  --gray-3: #4d4f50; /*small icons below post (timer, date)*/

  /*---------textcolor---------*/
  --text-color-dark: #f1f1f1; /*Headlines H1 - H6*/
  --text-color-main: #d4d4d4; /*Maintext and Tags*/
  --text-color-light: #8a8c8d; /*Infotext (time to read and date)*/

  /*-----shadows-------*/
  --shadow: none;

  /*------radius and border-------*/
  --border-color: #2a2d3b; /*input fields*/

  /*-----Hover----- */
  --tag-hover: #3f4247;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.basic-container {
  background-color: var(--card-background);
  margin: var(--margin-40);
  padding: var(--padding-32);
  border-radius: var(--radius-20);
  box-shadow: var(--shadow);
}

.basic-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.basic-tag {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
  align-items: center;
  background-color: var(--gray-1);
  width: fit-content;
  padding: 6px 12px;
  border-radius: var(--radius-20);
  cursor: pointer;
}

.basic-tag:hover {
  background-color: var(--gray-2);
}

.basic-tag div {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background-color: orange;
}

.basic-tag h4 {
  padding: 0;
  margin: 0;
  font-size: var(--font-small);
  font-weight: 300;
  color: var(--text-color-main);
}

.article-title {
  color: var(--text-color-dark);
}

.article-title a {
  color: var(--text-color-dark);
  line-height: 1;
  font-size: var(--font-big);
}

.article-title a:hover {
  text-decoration: underline;
  text-decoration-color: var(--theme-color);
  text-decoration-thickness: 2px;
}
